.title {
  padding: 5%;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

label {
  padding-right: 10px;
}

.main {
  background-color: gainsboro;
  padding: 10%;
}

.container {
  margin-top: -100px;
}

.display {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 4px;
  border: solid lightgrey 1px;
}