<div class="app">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="title">Welcome to {{ title }}</h3>

      <div class="pull-right">
        <select (change)="handleSelectionChange($event)">
          <option value="" selected disabled hidden>Choose Color</option>
          <option value="Red">Red</option>
          <option value="White">White</option>
          <option value="Gray">Gray</option>
          <option value="Silver">Silver</option>
          <option value="Black">Black</option>
        </select>
      </div>
      <span class="pull-left">
        <div>
          <label for="sunroof">Sunroof</label>
          <input
            type="checkbox"
            name="hasSunroof"
            id="sunroof"
            (click)="handleSunroofClicked($event)"
          />
        </div>

        <div>
          <label for="four-wheel-drive">Four Wheel Drive</label>
          <input
            type="checkbox"
            name="four-wheel-drive"
            id="four-wheel-drive"
            (click)="handleFourWheelDriveClicked()"
          />
        </div>

        <div>
          <label for="low-miles">Low Mileage</label>
          <input
            type="checkbox"
            name="low-miles"
            id="low-miles"
            (click)="handleLowMilesClicked()"
          />
        </div>

        <div>
          <label for="power-windows">Power Windows</label>
          <input
            type="checkbox"
            name="power-windows"
            id="power-windows"
            (click)="handlePowerWindowsClicked()"
          />
        </div>

        <div>
          <label for="navigation">Navigation Included</label>
          <input
            type="checkbox"
            name="navigation"
            id="navigation"
            (click)="handleNavigationClicked()"
          />
        </div>

        <div>
          <label for="heated-seats">Heated Seats</label>
          <input
            type="checkbox"
            name="heated-seats"
            id="heated-seats"
            (click)="handleHeatedSeatsClicked()"
          />
        </div>
      </span>
    </div>
    <button class="btn btn-primary pull-right" (click)="handleSearch()">
      Search
    </button>
  </div>
</div>
